@model List<Course>
@{
    ViewData["Title"] = "TagCourse";
}

<div class="course-area pt-150 pb-150">
    <div class="container">
        @await Html.PartialAsync("_CoursePartialView", Model)
        </div>
    </div>