@model AccountVM
@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="container">
    <h2>Forgot password section</h2>
    <form method="post">
        <label asp-for="AppUser.Email">Please enter your email</label><br />
        <input asp-for="AppUser.Email" class="form-control" />
        <button type="submit" class="btn btn-outline-primary">Send</button>
    </form>

</div>
