@model AccountVM
@{
    ViewData["Title"] = "ResetPassword";
}
<div class="container">
    <h2>Reset password section</h2>
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
    <form method="post">
        <div>
            <label>Please enter your new password</label><br />
            <input asp-for="Password" class="form-control" />
        </div>
        <div class="d-none">
            <input asp-for="Token" class="form-control" />
            <input asp-for="AppUser.Email" class="form-control" />
        </div>
        <div>
            <label>Confirm your new password</label><br />
            <input asp-for="ConfirmPassword" class="form-control" />
        </div>
        <button type="submit" class="btn btn-outline-primary">Reset password</button>
    </form>

</div>